<br><BR>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

<BR><BR>

  <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/MQuhJKk7Dbk">dfgfg</iframe>
</div>

<!-- 4:3 aspect ratio
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>
-->

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p>
  <a class="btn btn-primary btn-lg" href='/blank_page' role="button">Click if you like Pekes!</a>
  </p>
</div>
<form action='/choice' method='post'>
  What is your name?
    <br>
    <input type='text' name='name'/>
    <br><BR>
  Which do you prefer?
    <br>
    <input type='radio' name='place' value='Hawaii'/> Hawaii
    <br>
    <input type='radio' name='place' value='Cancun'checked/> Cancun
    <br>
    <input type='submit' class='btn'/>
</form>
