<div class="jumbotron">
  <h1>Welcome to Blackjack!</h1>
</div>

<!--
<div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
      </div> -->

<BR><BR>
Please enter your name to start the game!:
<BR><BR>
<form action='/store_name' method='post' class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your name." name='name'/>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>





<!--
class="btn-group-vertical" -->
