<div class="jumbotron">
  <h1>Welcome to Blackjack!</h1>
</div>

<!--
<div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
      </div> -->

<BR><BR>
Please enter your name to start the game!:
<BR><BR>
<form action='/new_game' method='post'>
  <input type='text' name='name'/>
  <input type='submit' class='btn-group-vertical'>
</form>


<!--
class="btn-group-vertical" -->
